@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f9;
}

  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3d45;
    color: #ecf0f1;
    padding: 15px 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo span {
    font-size: 1.8em;
    font-weight: 700;
    color: #2ecc71;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #2ecc71;
}

.search-icon {
    display: flex;
    align-items: center;
}

.search-icon input {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.search-icon input::placeholder {
    color: #bdc3c7;
    font-style: italic;
}

.search-icon input:focus {
    background-color: #2ecc71;
    color: #2a3d45;
    box-shadow: 0 0 5px rgba(46, 204, 113)
}


    
    .container {
      display: flex;
      border: 2px solid black;
      height: 500px;
      width: 100%;
      align-items: center;
      justify-content: center;
      background-image: url("./../images/mountain..jpeg");
      background-size: cover;
      background-position: center;
      position: relative;

    }
    .container h1 {
      position: absolute;
      top: 60px;
      font-size: 70px;
      padding-bottom: 50px;
      color: rgba(0, 0, 0, 0.571);
    }

    .summary {
      border: 2px solid black;
      width: 100%;
      height: 500px;
      background-color: #e6e6ff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }
    .summary h2{
        position: absolute;
        top:10px;
        font-size:40px;

    }
    .summary h3{
        position: absolute;
        top:110px;
        font-size: 25px;
        
    }
    .summary p 
    {
        font-size: 20px;
        padding: 70px;
        line-height: 30px;
        word-spacing: 8px;
        position: absolute;
        bottom: 50px;
        font-weight:400;
        
    }
    .summary h4{
        font-size: 30px;
        position:absolute;
        bottom: 20px;
    }
    .box{
      background-color: #e6e6ff;;
      height: 30px;
      color: white;
    }
    
    .box{
      background-color:  #e5ffcc;
      color: black;
      height: 50px;
      
    }