.container{
    background-color: #e6e6e6;
    border: 2px solid black;
    height: auto;
    width: auto;
    border-radius: 5px;
   }
   .title {
    font-size: 36px;
    color: black;
    margin: 2%0px;
}