.item{
    background-color: #b1dddf;
        height: 400px;
        width: 350px;
        margin: 30px;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px white;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #cce6ff;
    padding: 5px;
    border-radius: 5px;
  }

  img{
     height: 260px;
     width: 310px;
     margin: 10px;
  }